# Clock
net "clk" loc = "E7";

# Serial input
net "serial_data_in" loc = "E14";
NET "serial_data_in" CLOCK_DEDICATED_ROUTE = FALSE;
net "start_detected_out" loc = "A7";

# Data comm FPGA
net "received_data(0)" loc = "N14";
net "received_data(1)" loc = "M5";
net "received_data(2)" loc = "M3";
net "received_data(3)" loc = "P13";
net "received_data(4)" loc = "N8";
net "received_data(5)" loc = "R5";
net "received_data(6)" loc = "P1";
net "received_data(7)" loc = "N1";
net "received_data(8)" loc = "C2";
net "received_data(9)" loc = "D1";
net "received_data(10)" loc = "F11";
net "received_data(11)" loc = "D11";
net "received_data(12)" loc = "D8";
net "received_data(13)" loc = "D7";
net "received_data(14)" loc = "E6";
net "received_data(15)" loc = "D4";
